<div class="max-height">
  <mat-drawer-container class="container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary" class="bar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="spacer"></span>
        <div class="container-center">
          <mat-form-field appearance="legacy" class="wanted-field">
            <mat-label>Find:&nbsp;</mat-label>
            <input matInput #inputWanted type="text" [(ngModel)]="wanted">
            <button *ngIf="wanted" matSuffix mat-icon-button aria-label="Clear" (click)="wanted=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>


      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

